/*
  DISCLAIMER: I know this is not clean, but it works.
*/
body {
  background-color: #eee; }

body, nav, footer, .content {
  overflow-x: hidden; }

nav > div {
  font-size: 32px;
  padding-left: 20px;
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

@media only screen and (max-width: 899px) {
  .big-only {
    display: none; }

  .image-stack__item-left {
    left: 0;
    width: 100%;
    max-width: 100%; }

  .image-stack__item-right {
    display: none; }

  .column-left {
    width: 100%;
    max-width: 100%; }

  .column-right {
    display: none; }

  .profile-text-title, .profile-text-title-contact, .profile-text-contents {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px; }

  .profile-text, .profile-text-jumbotron-above {
    margin-top: 20%; }

  .achievements {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px; }

  .image-stack__item--top {
    padding-top: 50px; }

  h2 {
    padding-top: 50px; }

  .jumbotron-link {
    font-size: 36px !important; }

  .jumbotron-huge {
    margin-left: 20px; }
    .jumbotron-huge h1 {
      font-size: 28px !important;
      position: absolute;
      top: 35%; }
    .jumbotron-huge p {
      font-size: 12px;
      position: absolute;
      top: 40%; }
    .jumbotron-huge a {
      position: absolute;
      top: 50%; }

  .card-project {
    margin-left: 20px;
    margin-right: 20px; }

  .jumbotron-text-dark-dynamic {
    color: #eee;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
    .jumbotron-text-dark-dynamic a {
      font-size: 28px !important; }

  iframe {
    width: 85%;
    height: 900px; } }
@media only screen and (min-width: 900px) {
  .small-only {
    display: none; }

  .image-stack__item-left {
    left: 0;
    width: 50%;
    max-width: 50%; }

  .image-stack__item-right {
    right: 0;
    width: 50%;
    max-width: 50%; }

  .column-left, .column-right {
    width: 50%;
    max-width: 50%; }

  .profile-text-title, .profile-text-title-contact {
    padding-left: 100px; }
    .profile-text-title span, .profile-text-title-contact span {
      padding-left: 15px; }

  .profile-text-contents {
    padding-left: 50px;
    padding-right: 10px;
    text-align: justify;
    font-size: 20px; }

  .profile-text-header {
    margin-top: 12.5%; }

  .achievements {
    margin-top: 63px; }
    .achievements h2 {
      padding-left: 50px; }
    .achievements .achievement-item {
      padding-left: 30px; }
      .achievements .achievement-item .achievement-desc {
        padding-left: 15px; }
    .achievements .achievement-item-left {
      padding-left: 70px; }
      .achievements .achievement-item-left .achievement-desc {
        padding-left: 15px; }
    .achievements .project-right {
      padding-right: 70px; }

  .image-stack__item--top {
    padding-top: 100px; }

  .jumbotron-huge {
    margin-left: 75px; }

  .jumbotron-text-dark-dynamic {
    color: #212529 !important;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

  iframe {
    width: 640px;
    height: 775px; } }
@media print {
  .screen-only {
    display: none; } }
.footer-copyright {
  text-align: center;
  padding-bottom: 5px; }
  .footer-copyright .fa-heart {
    color: red; }

footer {
  background-color: #fcba03;
  margin-left: none;
  margin-right: none;
  margin-bottom: none;
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

/* about */
.column-left, .column-right {
  float: left; }

.column-right {
  margin-left: -200px; }

.image-stack {
  position: relative;
  width: 100%; }

.image-stack__item--bottom {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 140%;
  overflow: hidden; }

.bg-pic {
  width: 100%;
  display: block; }

.profile-pic {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid darkgray;
  border-radius: 50%; }

.row::after {
  content: "";
  clear: both;
  display: table; }

.profile-text, .profile-text-jumbotron-above, .jumbotron-text, .jumbotron-text-dark, .btn {
  font-family: Poppins, "Helvetica Neue", Helvetica, Arial, sans-serif; }

.pre-title {
  font-size: 24px;
  font-weight: bold; }

.text-blue {
  color: darkblue; }

h1 {
  font-size: 54px !important;
  font-weight: bold !important;
  padding-top: 10px;
  padding-bottom: 10px; }

h2 {
  font-size: 36px !important;
  font-weight: bold !important;
  padding-bottom: 20px; }

.profile-text-contents > p {
  padding-top: 10px; }

.profile-text-social {
  font-size: 30px;
  text-align: center; }

.achievement-item .achievement-title, .achievement-item-left .achievement-title {
  font-size: 26px;
  font-weight: bold; }
.achievement-item .achievement-desc, .achievement-item-left .achievement-desc {
  font-size: 22px;
  font-weight: normal; }

.flag {
  width: 30px;
  height: auto; }

.flag-lang {
  width: 15px;
  height: auto; }

.progress {
  margin-left: 30px;
  margin-right: 30px;
  background-color: lightgray !important; }

.jumbotron {
  margin-top: 20px;
  margin-bottom: 0px; }

.jumbotron-text {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  /*
  border: 1px solid lightgray;
  border-radius: 16px;
  background-color: #eee;
  */
  font-weight: bolder !important; }

.jumbotron-text, .jumbotron-link {
  color: #eee; }

.jumbotron-text-dark, .blacklink {
  color: #212529; }

.jumbotron-link:hover {
  color: #007bff; }

/* projects */
.project-header-img {
  width: 25%;
  height: auto;
  border-radius: 4px; }

.profile-text-jumbotron-above {
  margin-top: 0px !important; }

.card-project {
  margin-bottom: 20px; }

.card-img-top {
  transition: transform .2s; }

.card-img-top:hover {
  transform: scale(1.05); }

.jumbotron-huge {
  /*
    idk why, but when I move this into a media query, the entire text
    inside the jumbotron dies and everything becomes crammed. I'll leave
    this here for the sake of simplicity.
    If you're a user, I'm sorry for loading an extra 1KB of CSS just for
    the text to become somewhat understandable.
  */ }
  .jumbotron-huge h1 {
    top: 40%;
    position: absolute; }
  .jumbotron-huge p {
    top: 55%;
    position: absolute; }
  .jumbotron-huge a {
    top: 70%;
    position: absolute; }

/* contact */
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }

.profile-text-title-contact {
  padding-left: 0px;
  text-align: center; }

/*# sourceMappingURL=styles.css.map */
